$primary-color: #FF0054; //fucsia  (header, wave)
$secondary-color: #390099; //dark blue (logo, ombra, icona-carrello)
$tertiarycolor: #9E0059; //viola (wave)
$quaternary-color: #FFBD00; //giallo
$latest-color: #FF5400; //arancione

//btn